/* mobile screen */
@media only screen and (max-width: 768px) {
  .web-view {
    display: none;
  }

  /* homepage second section */
  .faster-stats-section .stats-container {
    display: flex;
    flex-direction: column;
  }

  /* web vitals third section */
  .faster-stats-section .stats {
    width: 70%;
    margin-bottom: 20px;
  }

  /* homepage fifth section */
  .superfast-title {
    font-size: 32px/97px;
  }

  /* sixxth section */
  .plans-section .cards-container {
    display: grid;
    grid-template-columns: 330px;
    margin: initial;
    width: "initial";
  }

  .high-performance .cards-container {
    display: grid;
    grid-template-columns: 350px;
    margin: initial;
    width: "initial";
  }

  .currency-option-container {
    flex-direction: column;
    width: 90%;
    margin-left: initial;
  }

  .price-tab-container {
    width: 343px;
  }

  .search-webpage .search-box {
    width: 90%;
  }

  .web-vitals-section .search-box input {
    width: 60%;
    padding: 15px 30px;
  }

  .web-vitals-section .search-box button {
    width: 40%;
    padding: 15px 30px;
  }

  .stats-card {
    width: 318px;
    height: 333px;
    box-shadow: 6px 4px 24px #00000029;
    border-radius: 32px;
    text-align: bottom;
    padding: 100px 20px;
    margin: 10px;
    background: white;
  }

  .stats-card h3 {
    font: normal normal 900 62px/73px "Montserrat";
    color: #1db954;
  }

  .stats-card p {
    font: normal normal medium 34px/46px "Montserrat";
    width: 70%;
    color: #1e2323;
  }

  .thunderbolt-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .framework-statistics .section-title {
    font: normal normal 800 32px/40px "Montserrat";
  }

  .web-vitals-section {
    /* min-height: 733px; */
    background-image: url("../images/vector1-mob.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }

  .framework-statistics {
    min-height: 870px;
    background-image: url("../images/vector2-mob.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-img img {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .hero-section .title {
    width: 90%;
    margin-top: 30px;
    font: normal normal 800 54px/65px "Montserrat";
  }
  .hero-section .sub-title {
    font: normal normal normal 18px/28px "Montserrat";
  }

  .clients-img img {
    width: 60px;
  }

  .why-you-need-content .content-section .hero-img {
    width: 332px;
  }
  .pricing-selector {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .pricing-h1 {
    font-size: 2.5rem;
  }
  .pricing-p {
    margin-top: 20px;
    color: #1e2323 !important;
  }
  .tab-btn .pricing-selector {
    margin-top: 90px;
    position: absolute;
    margin-bottom: 10px;
  }
  .pricing-switch-btn {
    width: 300px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  .monthly-card-title {
    margin-top: 0px;
  }
  .monthly-card {
    width: 95% !important;
    margin-top: 5px;
  }
  .round-borders {
    padding: 1px;
  }
  .monthly-card-description {
    color: #160091;
    font-size: 10px;
    padding-left: 60px !important;
    padding-right: 60px !important;
    margin-top: -10px;
  }

  .vat-box p {
    font-size: 14px !important;
  }
  .vat-text {
    font-size: 16px !important;
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
  .pricing-hero-section-two {
    font-size: 22px !important;
  }
  .pricing-hero-section-two-h2 {
    font-size: 30px;
  }
  .pricing-p2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .smile-card {
    width: 200px;
    height: 250px;
  }
  .hero-two {
    padding: 2rem !important;
  }
  .pricing-selector label {
    color: #1b03a3;
    font-weight: bolder;
  }
  .pricing--main-box {
    /* background-color: #ecf9f1 !important; */
    padding-left: 44px !important;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .tab-btn {
    margin-top: 40px;
    margin-bottom: 120px;
  }
  .points {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 32px !important;
    padding-bottom: 56px !important;
    font-size: 12px;
  }
  .get-started-btn {
    width: 80%;
    margin-bottom: 40px !important;
  }
  .monthly-cost strong {
    font-size: 36px;
  }
  .monthly-cost span {
    font-size: 16px !important;
  }
  .monthly-cost .price-symbol{
    font-size: 20px !important;
    position: absolute;
    margin-top: 8px;
    margin-left: -15px;
  }
  .hero-1-card-container{
    margin-top: -180px;
    padding-left: 2.5rem !important;
  }
}
