/* mobile screen */
@media only screen and (max-width: 768px) {
  .web-view-flex {
    display: none;
  }

  .mob-view {
    display: block;
  }

  /* header */
  .navbar-brand img {
    margin-left: 10px;
    width: 144px;
  }

  .hambar img {
    width: 36px;
    margin-right: 20px;
    cursor: pointer;
  }

  /* canvas */
  .offcanvas-body {
    flex-direction: column;
  }

  .home-button {
    width: 37px;
    top: 2%;
  }

  .close-btn-section {
    right: 7%;
  }

  .close-btn-section img {
    width: 25px;
  }

  .left-sidebar,
  .right-sidebar {
    width: 100%;
  }

  .left-sidebar {
    height: 50%;
    margin-top: 6em;
    margin-bottom: 2em;
  }

  .left-sidebar p {
    font-size: 26px;
  }

  .sidebar-content {
    margin-left: 40px;
  }

  .sidebar-content .title {
    width: 95%;
    font-size: 30px;
    margin: 20px 0;
  }

  /* slider */
  .about-accoudian .accordion-button {
    font-size: 20px;
    color: #1d1d1d;
  }

  .about-accoudian .accordion-item {
    padding: 15px 0;
  }

  .about-accoudian .accordion-body p {
    font-size: 14px;
  }

  /* homepage second section */
  .faster-stats-section .stats-container {
    display: flex;
    flex-direction: column;
  }

  /* web vitals third section */
  .faster-stats-section .stats {
    width: 70%;
    margin-bottom: 40px;
  }

  .faster-stats-section .stats h3 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
  }

  .faster-stats-section .stats h4 {
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
  }

  .faster-stats-section .stats p {
    font-size: 18px;
    font-weight: medium;
  }

  .stats .stats-container {
    width: 100%;
  }

  .how-it-works .section-title {
    font-size: 42px;
    font-weight: 800;
    margin-top: 80px;
  }

  .how-it-works-card {
    margin: 40px 0;
  }

  .how-it-works-card img {
    width: 86px;
    height: 86px;
  }

  .how-it-works-card h3 {
    width: 90%;
    font-size: 32px;
    font-weight: bold;
  }

  .how-it-works-card p {
    width: 80%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: medium;
  }

  .how-it-works button {
    margin-bottom: 80px;
  }

  /* homepage fifth section */
  .superfast-title {
    font-size: 32px;
    font-weight: 800;
  }

  .price-tab-container {
    width: 280px;
    height: 45px;
    margin-left: auto;
  }

  .price-tab {
    font-size: 16px;
    font-weight: normal;
  }
  .select-currency-container {
    margin: 10px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select-currency-container .form-select {
    width: 20%;
    color: white;
  }

  .price-footer-info {
    font-size: 16px/19px;
    width: 90%;
    padding-bottom: 40px;
  }

  .content-section {
    display: flex;
    justify-content: center;
  }

  .content-section .section-info {
    width: 331px;
    min-height: 162px;
    border-radius: 26px;
    box-shadow: 6px 4px 24px #00000029;
    background-color: white;
    position: absolute;
    bottom: -25%;
    right: -5%;
    padding: 20px;
    padding-bottom: 10px;
  }

  .section-info p {
    font-weight: normal;
    font-size: 16px;
  }

  .list-section {
    width: 100%;
    margin-top: 120px;
  }

  .list-section ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .list-section .list-option {
    width: 100%;
    margin: 15px 0;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
  }

  .list-option-active {
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
    color: #1db954;
  }

  .techs-we-use .title {
    margin: 20px 10px;
    font-size: 32px;
    font-weight: 800;
  }

  .techs-we-use .subtitle {
    font-size: 16px;
    font-weight: medium;
    width: 90%;
    margin: 20px auto;
  }

  .techs-img {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .techs-img .big-imgs {
    margin: 20px 0;
  }

  .techs-img .picture-big {
    width: 125px;
    height: 32px;
    margin: 0 10px;
  }

  .techs-img .picture-small {
    margin: 10px 0;
    width: 52px;
    height: 30px;
  }

  /* sixxth section */
  .plans-section .cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    margin: initial;
    width: "initial";
  }

  .plans-section .plans-card-container {
    width: 90%;
    margin: auto;
  }

  .plans-section .plans-title {
    font-size: 32px;
    font-weight: bold;
  }

  .plans-section .plans-subtitle {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
  }

  .custom-text {
    white-space: nowrap;
  }

  .high-performance h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .high-performance .sub-title {
    width: 90%;
    margin: 30px auto;
    font-size: 16px;
    font-weight: normal;
  }

  .high-performance .cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    margin: initial;
    width: "initial";
  }

  .high-performance .plans-card-container {
    width: 80%;
    margin: auto;
  }

  .high-performance-footer p {
    font-size: 16px;
    font-weight: normal;
    width: 95%;
  }

  .currency-option-container {
    flex-direction: column;
    width: 90%;
    margin-left: initial;
  }

  .search-webpage .search-box {
    width: 90%;
  }

  .web-vitals-section .search-box input {
    width: 60%;
    padding: 15px 30px;
    font-size: 14px;
  }

  .web-vitals-section .search-box button {
    width: 40%;
    font-size: 14px;
    padding: 15px 30px;
  }

  .stats-card {
    width: 318px;
    height: 333px;
    box-shadow: 6px 4px 24px #00000029;
    border-radius: 32px;
    text-align: bottom;
    /* padding: 70px 20px; */
    margin: 10px;
    background: white;
  }

  .circle-contain {
    margin-bottom: 30px;
  }

  .circle-info {
    font-size: 20px;
  }

  .stats-card h3 {
    font-size: 63px;
    font-weight: 900;
    color: #1db954;
  }

  .stats-card p {
    font-size: 34px;
    font-weight: medium;
    width: 100%;
    color: #1e2323;
  }

  .thunderbolt-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .framework-statistics .section-title {
    width: 95%;
    font-size: 32px;
    font-weight: 800;
  }

  .web-vitals-section {
    /* min-height: 733px; */
    background-image: url("../images/vector1-mob.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }

  .web-vitals-section .title {
    width: 80%;
    margin: auto;
    font-size: 32px;
    font-weight: 900;
  }

  .framework-statistics {
    min-height: 870px;
    background-image: url("../images/vector2-mob.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-img img {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .hero-section .title {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    font-size: 54px;
    font-weight: 800;
  }
  .hero-section .sub-title {
    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
  }

  .hero-section button {
    margin-left: 20px;
  }

  .clients-img {
    width: 100%;
    overflow-x: scroll;
    display: -webkit-box;
    flex-wrap: nowrap;
  }

  .clients-img img {
    width: 100px;
  }

  .why-you-need {
    background-image: none;
  }

  .why-you-need-content .content-section .hero-img {
    width: 332px;
  }

  .why-you-need-content .content-section .icon {
    width: 46px;
    position: absolute;
    right: 0%;
    top: -8%;
  }

  .pricing-selector {
    position: relative;
  }

  .they-trust-us-section {
    margin-bottom: 100px 0;
  }

  .skill-home .title {
    margin-bottom: 40px;
  }

  .footer-container {
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .links-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    /* margin: 20px 0; */
  }

  .footer-web {
    display: none;
  }

  .footer-mob {
    display: flex;
  }

  .footer-navs {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .book-call-btn {
    background-color: transparent;
    color: white;
    border-color: #f7df00;
    padding: 4px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }

  .book-call-btn span {
    font-size: 16px;
  }

  .book-call-btn img {
    width: 18px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .pricing-h1 {
    font-size: 2.5rem;
  }
  .pricing-p {
    margin-top: 20px;
    color: #1e2323 !important;
  }
  .tab-btn .pricing-selector {
    right: auto;
    margin-top: 90px;
    position: absolute;
    margin-bottom: 10px;
    z-index: 1111111 !important;
  }
  .pricing-switch-btn {
    width: 300px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  .monthly-card-title {
    margin-top: 0px;
  }
  .monthly-card {
    height: auto !important;
    width: 100% !important;
    margin-top: 15px !important;
    margin-left: -17px !important;
  }
  .round-borders {
    padding: 1px;
  }
  .monthly-card-description {
    color: #160091;
    font-size: 10px;
    padding-left: 60px !important;
    padding-right: 60px !important;
    margin-top: -10px;
  }

  .vat-box p {
    font-size: 14px !important;
  }
  .vat-text {
    font-size: 16px !important;
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
  .pricing-hero-section-two {
    font-size: 22px !important;
  }
  .pricing-hero-section-two-h2 {
    font-size: 30px;
  }
  .pricing-p2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  /* .swiper-slide {
    width: 200px !important;
  } */
  .custom-swiper-slide {
    width: 200px !important;
  }
  .smile-card {
    width: 180px;
    height: 250px;
    margin-left: -40px !important;
  }

  .hero-two {
    padding-right: 20px !important;
    padding-left: 36px !important;
    background-image: url("../images/logos/mobile-bg-standerd.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 186rem;
    background-position-x: -5rem;
  }
  .extra-addon-div {
    padding-right: 20px !important;
    padding-left: 36px !important;
  }
  .pricing-selector label {
    color: #1b03a3;
    font-weight: bolder;
  }
  .pricing--main-box {
    /* background-color: #ecf9f1 !important; */
    /* padding-left: 44px !important; */
    height: 870px !important;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .tab-btn {
    margin-top: 40px;
    margin-bottom: 120px;
  }
  .points {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 32px !important;
    padding-bottom: 56px !important;
    font-size: 12px;
  }
  .get-started-btn {
    width: 80%;
    margin-bottom: 40px !important;
  }
  .monthly-cost strong {
    font-size: 36px;
  }
  .monthly-cost span {
    font-size: 16px !important;
  }
  .monthly-cost .price-symbol {
    font-size: 20px !important;
    position: absolute;
    margin-top: 8px;
    margin-left: -15px;
  }
  .hero-1-card-container {
    margin-top: -180px;
    padding-left: 2.5rem !important;
  }
  .pricing-monthly {
    height: 44px !important;
  }
  .pricing-yearly {
    height: 44px !important;
  }
  .extra-addon-conatiner {
    margin: 0px 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .extra-card-width {
    width: 100% !important;
  }
  .extra {
    margin: auto !important;
    margin-bottom: 40px !important;
  }
  .stand {
    margin-left: -20px;
  }
  .footer-bootom-links {
    margin-top: 22px !important;
    right: 30vw;
  }
  .footer-bottom {
    justify-content: center !important;
  }
  .footer-bottom p {
    margin-right: 20vw;
    text-align: center;
    justify-content: center !important;
  }
  .footer-social-icons {
    text-align: center !important;
  }
  .footer-logo-conatiner {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 360px) {
  .extra-card-width {
    width: 100% !important;
    height: 360px !important;
  }
  .get-started-btn {
    margin-bottom: 10px !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  .price-symbol {
    margin-left: -85px !important;
  }
  .price-symbol-safari {
    margin-left: -50px !important;
  }
  .monthly-card {
    width: 22vw !important;
  }
  .pay-monthly-card {
    width: 30vw !important;
  }
  .extra-card-width {
    width: 30vw !important;
  }
}
