@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");

body {
  font-family: "Montserrat", sans-serif;
}

.web-view-flex {
  display: flex;
}

.mob-view {
  display: none;
}

/* header */
.nav-items-container {
  display: flex;
  justify-content: flex-end;
}

.nav-items {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item a {
  color: black;
  font-weight: normal;
}

.nav-btn {
  display: flex;
}

.nav-link {
  font-weight: medium;
  font-size: 16px;
}

.nav-btn button {
  padding: 5px 14px;
  background: green;
  color: white;
  border: 0;
  border-radius: 20px;
}

/* footer */
.site-footer {
  background: #1b03a3;
}

.footer-container {
  width: 100%;
  /* height: 333px; */
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  display: flex;
  justify-content: space-around;
}

.links-container p {
  margin-right: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-container {
  border: 1px solid #f7df00;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.social-container img {
  width: 14px;
}

.book-call-btn {
  background-color: transparent;
  color: white;
  border-color: #f7df00;
  padding: 5px 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.book-call-btn img {
  width: 18px;
  margin-right: 10px;
}

.flags {
  margin: 20px 0;
}

.flags img {
  width: 20px;
  margin-right: 10px;
}

.footer-bottom {
  background-color: #160091;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p {
  color: #f8f7ff;
  font-size: 14px;
  font-weight: normal;
}

/* home */
.hero-section {
  min-height: 608px;
  margin-top: 70px;
}

.hero-section .title {
  color: #1b03a3;
  font-size: 74px;
  font-weight: 800;
}

.hero-section .sub-title {
  color: #1e2323;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
}

.hero-section .get-started {
  margin-top: 20px;
}

.clients-img {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.clients-img img {
  width: 130px;
  filter: grayscale(100%);
}

.clients-img img:hover {
  filter: unset;
}

.about-accoudian {
  margin-top: 40px;
}

.about-accoudian .accordion-item {
  border: unset;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  padding: 30px 0;
}

.about-accoudian .accordion-button {
  background: #fff !important;
  font-size: 26px;
  color: #1d1d1d;
  font-weight: 600;
}

.about-accoudian .accordion-button:focus {
  box-shadow: unset;
  color: #1db954;
}

.about-accoudian .accordion-button svg {
  margin-right: 20px;
}

.about-accoudian .accordion-body p {
  font-size: 18px;
  color: #1d1d1d;
}

.banner-img img {
  width: 550px;
}

.homeskillslider {
  padding-left: 60px;
}

.homeskillslider .swiper-wrapper {
  align-items: flex-end !important;
  padding-right: 30px;
}

.homeskillslider img {
  filter: grayscale(100%);
  width: 100%;
}

.homeskillslider img:hover {
  filter: unset;
}

.accordion-button {
  font-size: 26px;
  font-weight: medium;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.accordion-item {
  border-left: 0;
  border-right: 0;
}

.plans-section {
  padding-top: 50px;
  text-align: center;
  background: #1b03a3;
  color: white;
  min-height: 1250px;
}

.plans-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.plans-card-container {
  background: white;
  color: black;
  width: 100%;
  height: 366px;
  border-radius: 24px;
  margin: 10px;
  padding: 20px;
}

.plans-card-container .tag {
  background: #1b03a3;
  color: white;
  width: 120px;
  border-radius: 20px;
  padding: 5px 5px;
}

.plans-info {
  color: #1b03a3;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

.plan-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.plan-price .price {
  font-size: 52px;
  font-weight: bold;
  color: #1db954;
  margin-right: 10px;
  position: relative;
}

.price .price-symbol {
  position: absolute;
  top: -5%;
  left: -30%;
  font-size: 35px;
}

.price-info {
  color: #191414;
  font-size: 18px;
}

.price-info-bold {
  font-size: 16px;
  font-weight: bold;
}

.get-started {
  padding: 8px 60px;
  border-radius: 34px;
  border: 0;
  background: #1db954;
  color: white;
  font-size: 24px;
  font-weight: medium;
}

.pricing-read-more {
  margin-top: 20px;
  color: #1db954;
  font-size: 16px;
  font-weight: bold;
}

.pricing-read-more a {
  color: #1db954;
  text-decoration: none;
  cursor: pointer;
}

.plans-section .cards-container {
  width: 70%;
  margin: auto;
  display: grid;
  row-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(2, 411px);
}

.plans-section .plans-subtitle {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}

.price-footer-info {
  font-size: 16px;
  font-weight: bold;
  background: #1b03a3;
  width: 70%;
  margin: auto;
}

.currency-option-container {
  width: 70%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.price-tab-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  border-radius: 34px;
  /* padding: 10px 60px; */
  border: 1px solid white;
  width: 381px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-currency-container {
  margin: 30px 0;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-currency-container .form-select {
  width: 25%;
  background: #1b03a3;
  color: white;
}

.select-currency-container p {
  font-size: 18px;
  font-weight: medium;
  margin-right: 20px;
}

.price-tab {
  width: 214px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

.price-tab-active {
  cursor: pointer;
  margin: 0;
  background: white;
  font-size: 20px;
  font-weight: normal;
  color: #1b03a3;
  border-radius: 34px;
}

.high-performance {
  background: #f7df00;
  min-height: 729px;
}

.high-performance h1 {
  font-size: 38px;
  font-weight: bold;
  font-weight: 900;
  text-align: center;
  padding-top: 70px;
}

.high-performance .sub-title {
  font-size: 20px;
  font-weight: normal;
  font-weight: 600;
  text-align: center;
}

.high-performance .cards-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 296px);
  gap: 30px;
}

.high-performance .cards-container .plans-card-container {
  text-align: center;
}

.high-performance-footer p {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding: 40px 0;
  width: 50%;
  margin: auto;
}

.frequently-asked-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.why-you-need {
  min-height: 676px;
  background-image: url("../images/path-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.superfast-title {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  margin: 30px 0;
}

.why-you-need-content {
  min-height: 500px;
  width: 80%;
  margin: auto;
}
.techs-we-use {
  margin: 80px 0;
}
.techs-we-use .title {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
}

.techs-we-use .subtitle {
  font-size: 16px;
  font-weight: medium;
  text-align: center;
  margin-bottom: 40px;
}

.techs-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.techs-img .picture-big {
  width: 161px;
  height: 42px;
  margin-right: 30px;
}

.techs-img .picture-small {
  width: 62px;
  height: 37px;
}

.why-you-need-content .content-section {
  position: relative;
}
.why-you-need-content .content-section .hero-img {
  width: 400px;
}

.why-you-need-content .content-section .icon {
  width: 70px;
  position: absolute;
  right: 27%;
}

.content-section .section-info {
  width: 400px;
  min-height: 163px;
  border-radius: 26px;
  box-shadow: 6px 4px 24px #00000029;
  background-color: white;
  position: absolute;
  bottom: -10%;
  right: 15%;
  padding: 30px;
  padding-bottom: 10px;
}

.content-section .section-info p {
  font-size: 18px;
  font-weight: medium;
  font-weight: 600;
}

.list-section ul {
  list-style: none;
}

.list-section .list-option {
  font-size: 28px;
  font-weight: normal;
  font-size: 28px;
  cursor: pointer;
  line-height: 68px;
}

.list-option-active {
  font-size: 28px;
  font-weight: bolder;
  color: #1db954;
}

.how-it-works {
  background: #f8f7ff;
  min-height: 666px;
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.how-it-works .section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  /* margin-bottom: 60px; */
}

.how-it-works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-it-works-card img {
  width: 86px;
}

.how-it-works-card h3 {
  margin-top: 30px;
  width: 80%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.how-it-works-card p {
  width: 306px;
  text-align: center;
  font-size: 16px;
  font-weight: medium;
  font-weight: 600;
  margin-top: 10px;
}

.how-it-works button {
  border: 0;
  border-radius: 34px;
  padding: 10px 40px;
  background-color: #1db954;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.framework-statistics {
  min-height: 1125px;
  background-image: url("../images/vector2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.framework-statistics .section-title {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

.stats-card {
  width: 298px;
  height: 333px;
  box-shadow: 6px 4px 24px #00000029;
  border-radius: 32px;
  text-align: left;
  padding: 75px 8px 2px 36px;
  margin: auto;
  background: white;
}

.stats-card h3 {
  font-size: 63px;
  font-weight: 900;
  color: #1db954;
}

.stats-card p {
  font-size: 34px;
  font-weight: medium;
  width: 100%;
  color: #1e2323;
}

.middle-col .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
}

.web-vitals-section {
  min-height: 733px;
  background-image: url("../images/vector1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.web-vitals-section .search-box {
  width: 934px;
}

.search-webpage h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.web-vitals-section .title {
  font-size: 42px;
  font-weight: 800;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.web-vitals-section .search-box {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.web-vitals-section .search-box input {
  width: 80%;
  box-shadow: 4px 6px 12px #00000027;
  border: 1px solid #e4e4e4;
  padding: 20px 40px;
  border-radius: 44px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 24px;
}

.web-vitals-section .search-box button {
  width: 20%;
  background-color: #1b03a3;
  padding: 20px 30px;
  color: white;
  border: 1px solid #e4e4e4;
  font-size: 24px;

  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
}

.stats .stats-container {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.circle-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-info {
  font-weight: medium;
  font-size: 20px;
  margin-top: 10px;
}

.circle-contain .circle {
  position: relative;
  width: 112px;
}

.circle-contain .circle img {
  width: 100%;
}

.circle-contain .circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  font-weight: 600;
  font-size: 42px;
  font-weight: medium;
}

.circle-text-red {
  color: #d30303;
}

.circle-text-green {
  color: #049204;
}

.faster-stats-section {
  min-height: 299px;
  background: #f8f7ff;
}

.faster-stats-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faster-stats-section .stats h3 {
  font-size: 68px;
  font-weight: 800;
}

.faster-stats-section .stats h4 {
  font-size: 34px;
  font-weight: bold;
}

.faster-stats-section .stats p {
  font-size: 24px;
  font-weight: medium;
}

.stats-container {
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.skill-home .title {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  margin: 50px 0;
}

.they-trust-us-section {
  margin-bottom: 100px;
}
/* Pricing */

.pricing-h1 {
  color: #1b03a3;

  letter-spacing: -0.52px;
  font-weight: 800;
}
.pricing-h1 span {
  color: #1db954;
  font-weight: 900 !important;
}
.pricing-p {
  color: #1e2323;
  opacity: 1;
  letter-spacing: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 900 !important;
}
.pricing--main-box {
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../images/logos/pricing-bg.svg");
  background-color: #ecf9f1;
}
.pricing-switch-btn {
  width: 381px;
  height: 50px;
  background: #1b03a3 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
  border-radius: 4rem;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #160091;
}
.pricing-yearly {
  background-color: #1b03a3;
  color: white;
  opacity: 1;
  text-align: center;
  width: full;
  border-radius: 4rem;
  height: 48px !important;
  border: none !important;
}
.pricing-yearly span {
  text-align: left;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #d0d0d0;
  opacity: 1;
}
.pricing-monthly {
  background-color: white;
  color: #1b03a3;
  opacity: 1;
  text-align: center;
  width: full;
  border-radius: 4rem;
  height: 48px !important;
  border: none !important;
}
.pricing-monthly span {
  text-align: left;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #d0d0d0;
  opacity: 1;
}

.pricing-selector {
  position: absolute;
  right: 5%;
  text-align: center;
}
.pricing-selector label {
  text-align: center;
  font: normal normal medium 18px/38px Montserrat;
  letter-spacing: -0.18px;
  color: #191414;
  opacity: 1;
}
.pricing-selector select {
  width: 50px;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #1b03a3 !important;
  opacity: 1 !important;
  border-radius: 0.5rem;
}

/* Mothlycard */

.monthly-card {
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 4px 24px #00000038;
  border-radius: 24px;
  opacity: 1;
  width: 296px !important;
}
.monthly-card h1 {
  text-align: center;
  font-size: 19px;

  letter-spacing: -0.19px;
  color: #1b03a3;
  opacity: 1;
}
.monthly-card-title {
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 0px;
  color: #1b03a3;
  opacity: 1;
  font-size: 22px;
  font-weight: 800 !important;
}

.monthly-card-description {
  font-size: 13px;
  line-height: -5px;
}
.monthly-cost {
  text-align: left;
  letter-spacing: -0.38px;
  color: #1db954;
  opacity: 1;
  font-weight: 900;
  font-size: 20px;
  display: contents;
  padding-right: 4rem;
  padding-left: 4rem;
  position: relative;
}
.monthly-cost span {
  text-align: left;
  letter-spacing: 0px;
  color: #191414;
  font-weight: 400 !important;
  opacity: 1;
  font-size: 12px !important;
}
.get-started-btn {
  background: #1db954 0% 0% no-repeat padding-box;
  border-radius: 34px;
  opacity: 1;
  color: white;
  border: none;
  width: 180px;
  height: 40px;
  font-weight: 600;
  margin-top: 2rem;
}
.points-box {
  /* UI Properties */
  background: #f8f7ff 0% 0% no-repeat padding-box;
  border-radius: 24px;
  opacity: 1;
  margin-top: -10px;
  margin-bottom: 20px;
  width: 92%;
}
.s {
  background-color: #f8f7ff !important;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.points {
  text-align: left !important;
  background: #f8f7ff;
  justify-content: space-around;
}
.points span {
  color: #1b03a3;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  display: inline;
  margin-left: 6px !important;
}
.card-container {
  background-color: white;
}
.vat-box {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  color: #1e2323;
  opacity: 1;
}
.vat-text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  color: #1e2323;
  opacity: 1;
  font-weight: 900;
}
.pricing-hero-section-two {
  text-align: center;
  letter-spacing: -0.26px;
  color: #1db954;
  opacity: 1;
}
.pricing-hero-section-two-h2 {
  font-size: 3.1rem;
  color: #1b03a3;
  opacity: 1;
  font-weight: 800;
}
.pricing-p2 {
  color: #1e2323;
  opacity: 1;
  letter-spacing: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 400 !important;
}
.hero-two {
  background-image: url("../images/logos/hero-2-bg.svg");
}
.stand {
  text-align: center;
  letter-spacing: -0.26px;
  color: #1db954;
  opacity: 1;
  font-size: 25px;
  margin-top: 130px;
}
.smile-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 4px 24px #00000029;
  border-radius: 12px;
  opacity: 1;
  height: 280px;
}
.smile-card p {
  margin-top: 15px;
  display: flex;
  font-size: 12px;
  font-weight: 600;
}
.extra {
  font-weight: 800;
  color: #1b03a3;
}
.round-borders {
  border-radius: 24px;
}

.extra-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 4px 24px #00000029;
  border-radius: 32px;
  opacity: 1;
}

.extra-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 4px 24px #00000029;
  border-radius: 32px;
  opacity: 1;
  text-align: center;
  color: #1b03a3;
  font-weight: 600;
  font-size: 20px;
}
.extra-card p {
  width: 210px;
  height: 23px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.19px;
  color: #1b03a3;
  opacity: 1;
  font-size: 16px;
}
.extra-card span {
  text-align: center;
  letter-spacing: -0.38px;
  color: #1db954;
  margin-top: 20px !important;
}

.monthly-cost-sub-description {
  text-align: center;
  letter-spacing: 0px;
  color: #1b03a3 !important;
  opacity: 1;
}

.work-slider {
  padding-left: 10px;
  margin-bottom: 10px;
}
.mySwiper {
  align-items: flex-end !important;
}
